body {
  margin: 0;
  padding: 0;
  background: #ffe6f0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ff2f92;
}

h1 {
  margin-top: 50px;
  font-size: 32px;
}

.subtitle {
  color: #444;
  margin-bottom: 30px;
}

.grid a {
  display: block;
  margin: 12px auto;
  padding: 15px;
  width: 270px;
  background: white;
  color: #ff2f92;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.grid a:hover {
  background: #ffd6ea;
  transform: scale(1.03);
}

p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 18px;
  color: #444;
}

.back {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #ff2f92;
  font-weight: bold;
}
