body {
  margin: 0;
  padding: 0;
  background: #ffe6f0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ff2f92;
}

h1 {
  margin-top: 50px;
  font-size: 32px;
}

.subtitle {
  color: #444;
  margin-bottom: 30px;
}

.grid a {
  display: block;
  margin: 12px auto;
  padding: 15px;
  width: 270px;
  background: white;
  color: #ff2f92;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.grid a:hover {
  background: #ffd6ea;
  transform: scale(1.03);
}

p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 18px;
  color: #444;
}

.back {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #ff2f92;
  font-weight: bold;
}
.chatbox {
  background: white;
  max-width: 350px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.bubble {
  margin: 8px 0;
  padding: 10px;
  border-radius: 12px;
  max-width: 80%;
}

.rayyan {
  background: #ffd6ea;
  align-self: flex-start;
}

.muntaha {
  background: #e6f7ff;
  align-self: flex-end;
  margin-left: auto;
}

.hugBtn {
  padding: 15px 25px;
  background: hotpink;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.heart {
  position: fixed;
  font-size: 24px;
  animation: float 3s linear forwards;
}

@keyframes float {
  from {bottom: 0; opacity: 1;}
  to {bottom: 100vh; opacity: 0;}
}

.cloud {
  background: white;
  padding: 15px;
  border-radius: 20px;
  margin: 15px auto;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}
.centerBox {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.bigBtn {
  padding: 15px 25px;
  background: hotpink;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}



